# Base de Dados MySQL
MYSQL_ROOT_PASSWORD=rponto_root_pass
MYSQL_DATABASE=rponto
MYSQL_USER=rponto_user
MYSQL_PASSWORD=rponto_pass

# Django
SECRET_KEY=muda-isto-em-producao
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# Porta da aplicação (opcional, por defeito 8000)
# APP_PORT=8000
